.PostDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}
.PostDetail .error {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: var(--bright-red);
}
.PostDetail .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;

  background: var(--pure-white);
  border: solid 1px var(--border-color);
  border-radius: 4px;
  padding: 15px 20px;
}

.PostDetail .edit-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.PostDetail .edit-post textarea {
  resize: none;
  flex: 1;
  height: 100px;
}

@media screen and (max-width: 700px) {
  .PostDetail {
    padding-top: 30px;
  }

  .PostDetail .actions {
    padding: 12px 16px;
  }

  .PostDetail .edit-post {
    flex-direction: column;
    align-items: stretch;
  }

  .PostDetail .edit-post textarea {
    height: 140px;
  }
}
